{% extends 'base.html.twig' %}
{% block content %}
    <h2>Estimado/a {{ usuario }}</h2>
    <p>El codigo para recuperar su clave es {{ codigo }}</p>
    <p>Saludos cordiales,</p>
    <p>Equipo de seguridad</p>
{% endblock %}

